<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="../lib/bootstrap-css/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .item {
            display: inline-block;
            text-align:center;
        }

        img {
            width: 350px;
            margin: 20px 20px;
        }
    </style>

</head>

<body>
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><%= device %></a>
            </div>
        </div>
    </div>
    <div id="container" class="container"></div>
    

<script src="../lib/jquery/dist/jquery.min.js"></script>
<script>
function deleteScreenshot(device, screenshot) {    
    var url = 'http://localhost:8888/api/delete-screenshot';
    var path = 'reports/' + device.replace(':', '.') + '/' + screenshot;

    $.post(url, { path: path }, function(screenshot) {
        $('#' + screenshot).remove();
        console.log(screenshot + ' has been removed');
    })
}

function renderScreenshots(device) {
    var url = 'http://localhost:8888/api/screenshots';
    var path = '../reports/' + device.replace(':', '.') + '/';    
    
    $.post(url, { device: device }, function(screenshots) {
        if (screenshots) {
            screenshots.forEach(function(screenshot) {            
                var item_html = [
                    '<div class="item" id="' + screenshot.split('.')[0] + '">',
                    '<h3 style="display: inline">' + screenshot + '</h3>',
                    '<span',
                        'title="Delete the screenshot"',
                        'class="btn glyphicon glyphicon-trash"',
                        'onClick=deleteScreenshot("' + device + '",' + '"' + screenshot + '") >',
                    '</span>',
                    '<div><img src="' + path + screenshot + '" /></div>',
                    '</div>'
                    ].join('\n');

                $('#container').append(item_html);
            });    
        } else {
            $('#container').append('<h1>No screenshot</h1>');            
        }
    });  
}
var device = $('.navbar-brand').text();
renderScreenshots(device);

</script>
</body>

</html>