.glyphicon {
  margin-right: 5px;
}

.table {
  border: hidden;
}

.table-title {
  font-size: 18px;
  font-weight: 500;
}

.table .table-title ~ tr>td {
  line-height: 34px;
}

td .Select {
  width: 90%;
}

a {
  font-size: 16px;
  margin: 0 10px;
}

#EmailSelector {
  margin: 20px 0px;
}

#ApkSelector {
  line-height: 25px;
}

.modal-textarea {
  width: 100%;
  height: 70%;
  font-size: 16px;
}

.modal-hint {
  color: #999999;
  margin-bottom: 3px;
}

.modal-button {
  margin-top: 10px;
  margin-right: 5px;
}

.dropdown-menu .report_anchor {
  display: inline;  
}

.dropdown-menu .report_trash {
  margin-right: 10px;
  padding: 5px;
}

.dropdown-menu .report_trash:hover {
  background-color: #CCCCCC;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
}
